<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Assignments for Course <%= course_id %></title>
</head>
<body>
  <h1>Assignments for Course <%= course_id %></h1>

  <% if (assignments && assignments.length > 0) { %>
    <ul>
      <% assignments.forEach(function(a) { %>
        <li>
          <p><strong>ID:</strong> <%= a.assignment_id %> &nbsp;</p></li>
          <li><p><strong>Course ID:</strong> <%= a.course_id %> &nbsp;</p></li>
          <li><p><strong>Title:</strong> <%= a.title %> &nbsp;</p></li>
          <li><p><strong>Due Date:</strong> <%= new Date(a.due_date).toLocaleString() %></p>
        </li>
      <% }); %>
    </ul>
  <% } else { %>
    <p>No assignment</p>
  <% } %>

  <p><a href="/list">Back to list</a></p>
</body>
</html>
