<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Assignments for Course <%= course.course_id %></title>
</head>
<body>
  <h1>Assignments for Course <%= course.course_id %></h1>

  <% if (assignments && assignments.length > 0) { %>
    <table border="1" cellpadding="8" cellspacing="0">
      <tr>
        <th>Assignment ID</th>
        <th>Title</th>
        <th>Due Date</th>
        <th>Status</th>
      </tr>
      <% assignments.forEach(function(a) { %>
        <tr>
          <td><%= a.assignment_id %></td>
          <td><%= a.title %></td>
          <td><%= new Date(a.due_date).toLocaleString() %></td>
          <td><%= a.status %></td>
        </tr>
      <% }); %>
    </table>
  <% } else { %>
    <p>No assignments found for this course.</p>
  <% } %>

  <p><a href="/list">Back to Course List</a></p>
</body>
</html>
