<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Listing Course</title>

</head>
<body>
    <h1>Welcome OLE  <%= user.username %></h1>
    <hr/>
    <h2>Your user ID is <%= user.user_id %></h2>
    <h2>Your username is <%= user.username %></h2>
    <form action="/list" method="POST">
    <div>
        <h2>My Course</h2>
        <% for (var c of course) { %>
            <li><a href="/detail?_id=<%= c._id %>"><%= c.course_id %> <%= c.course_name %></a>
            </li>
            <% } %>
    </form>
    </div>
    <p><a href='/logout'>Logout</a></p>
</body>

</html>














